$standard-font: 'Poppins', sans-serif;
$text-block-size: 30ch;

#title-background {
    position: relative;

    width: 100%;
    height: 100vh;

    background-image: linear-gradient(45deg, #5b49ff 25%, #28f5e4);
}

#page-content {
    $margin-size: 15%;

    margin-top: -20px;

    margin-left: $margin-size;
    margin-right: $margin-size;
}

.text-section {
    margin-bottom: 100px;
}

.left-text {
    position: relative;

    font-family: $standard-font;
    font-size: 22px;

    margin-top: 200px;
    margin-bottom: 50px;

    max-width: $text-block-size;
    word-wrap: 70px;
}

.title-text {
    position: relative;

    font-family: $standard-font;
    font-size: 72px;
    text-align: center;

    font-weight: 600;

    color: white;
}

.subtitle-text {
    position: relative;

    font-family: $standard-font;
    font-size: 40px;
    text-align: center;

    font-weight: 600;

    color: white;
}

.text {
    position: relative;

    font-family: $standard-font;
    font-size: 22px;

    margin: 5px;
}

.floating-diamond {
    position: absolute;

    width: 20px;
    height: 20px;

    margin: 0px;

    background-color: white;

    transform: rotateZ(45deg);
}

.button {
    position: relative;

    left: $text-block-size * 0.5;

    font-family: $standard-font;

    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    text-align: center;

    border: solid 1px black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 32px;

    $transition-time: 0.2s;

    -webkit-transition: background-color $transition-time,
        color $transition-time, width $transition-time,
        border-width $transition-time, border-color $transition-time;
    transition: background-color $transition-time, color $transition-time,
        width $transition-time, border-width $transition-time,
        border-color $transition-time;
}

.button:hover {
    background-color: black;
    color: white;
}

.button:focus {
    outline: none;
}
