@import './ourprojects';
@import './main';
@import './header';
@import './animations';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&family=Neucha&family=Syne&display=swap&family=Source+Code+Pro:wght@600&display=swap&family=Bebas+Neue&display=swap');

html,
body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}
