# dependencies
node_modules

# testing
website/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# builds
server/dist
website/build

# other
.vscode
*.code-workspace
.eslintcache