@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Neucha&family=Syne&display=swap');

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

.header-bar {
    position: fixed;

    width: 100%;
    height: 60px;

    background-color: white;

    outline: 2px solid black;
}

.main-text-format {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -75%);

    font-family: "Neucha", sans-serif;
    font-size: 72px;
    text-align: center;

    color: white;
}

#section-one {
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(45deg, #ffa9a9 20%, #ffe81c);
}

#section-two {
    width: 100%;
    height: 100vh;

    background-image: white;
}