.button {
    position: relative;
    top: 20px;

    margin: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    text-align: center;

    border: solid 2px black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 100px;

    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.button:hover {
	background-color: black;
	color: white;
}

.button:focus {
	outline: none;
}

#join-now-button {
    position: relative;
    top: 20px;

    margin: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;

    border: solid 2px black;
    background-color: black;
    padding: 10px 30px;
    border-radius: 100px;

    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

#join-now-button:hover {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
}

#join-now-button:focus {
	outline: none;
}