$standard-font: 'Poppins', cursive;
$standard-text-color: #55e685;
$text-block-size: 30ch;
$standard-gradient: linear-gradient(
    127deg,
    rgba(26, 215, 76, 1) 0%,
    rgb(24, 241, 180) 54%,
    rgb(34, 233, 226) 100%
);
$standard-color: #232426;
