$standard-font: 'Poppins', cursive;
$standard-text-color: #55e685;
$text-block-size: 30ch;
$standard-gradient: linear-gradient(
    127deg,
    rgba(26, 215, 76, 1) 0%,
    rgba(34, 224, 171, 1) 54%,
    rgba(34, 208, 206, 1) 100%
);
$standard-color: #232426;
