@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');

.wrapper {
    max-width: 80ch;

    margin: 0px auto;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 72px;

    text-align: center;

    margin: 0px;
}

h2 {
    @extend h1;

    font-size: 42px;
}

h3 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 36px;

    text-align: center;

    margin: 35px 30px 35px 30px;
}

h4 {
    @extend h1;

    text-align: center;
    font-size: 32px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 0.8cm;

    text-align: center;
}

ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 0.8cm;
}

li {
    list-style: none;

    background-repeat: no-repeat;
    background-position: left center;
    background-image: url('../svgs/check-mark-line.svg');

    background-size: 25px;
    margin-right: 50px;
    padding: 30px 0px 25px 50px;
}

.box-shadow {
    $intensity: 0.225;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, $intensity),
        0 6px 20px 0 rgba(0, 0, 0, $intensity - 0.1);
}
