@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

body {
    background-image: url('../images/texture.png');
}

.box-shadow {
    $intensity: 0.4;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, $intensity),
        0 6px 20px 0 rgba(0, 0, 0, $intensity - 0.1);
}

.vertical-center {
    position: relative;
    top: 50%;

    transform: translateY(-50%);
}

.horizontal-center {
    position: relative;
    left: 50%;

    transform: translateX(-50%);
}

.center-text {
    text-align: center;
}

.title {
    font-family: 'MuseoModerno', sans-serif;
    font-size: 36px;

    font-weight: 400;

    margin: 0px 35px 0px 35px;

    color: inherit;

    &--white {
        @extend .title;

        color: white;
    }
}

.subtitle {
    font-family: 'MuseoModerno', sans-serif;
    font-size: 22px;

    color: inherit;
}

.text {
    font-family: 'NTR', sans-serif;
    font-size: 20px;
    line-height: 0.8cm;

    color: inherit;
}

@media only screen and (max-width: 600px) {
    .title {
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }

    .text {
        font-size: 1.25rem;
    }
}
