#header-bar {
    position: relative;

    width: 100%;
    height: 70px;

    background-color: white;

    z-index: 1;
}

.footer {
    position: relative;

    width: 100%;
    height: 300px;

    background-image: linear-gradient(45deg, #ffa9a9 20%, #ffe81c);
}

.header-button {
    position: relative;

    transform: translate(0%, 50%);
    right: 30px;

    z-index: 1;
    float: right;

    font-family: $standard-font;
    font-size: 16px;

    color: black;
    background: red;
    text-align: center;

    padding: 10px 30px;

    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.header-button:hover {
    color: rgb(122, 122, 122);
}

.header-button:focus {
    outline: none;
}

.header-button-join-now {
    $scale-factor: 1.5;

    position: relative;

    font-family: $standard-font;
    font-size: 14px * $scale-factor / 1.25;

    display: inline-block;

    letter-spacing: 1px;
    color: white;

    margin-top: 15px;

    border: solid 1px #55e685;
    background: $standard-color;
    padding: 10px * $scale-factor 30px * $scale-factor;

    $transition-time: 0.2s;

    -webkit-transition: background-color $transition-time,
        color $transition-time, width $transition-time,
        border-width $transition-time, border-color $transition-time;
    transition: background-color $transition-time, color $transition-time,
        width $transition-time, border-width $transition-time,
        border-color $transition-time;
}

.header-button-join-now:hover {
    background-color: black;
    color: white;
}
