$standard-font: 'Poppins', sans-serif;
$text-block-size: 30ch;
$standard-gradient: linear-gradient(
    319deg,
    rgba(190, 169, 42, 1) 0%,
    rgba(212, 127, 30, 1) 41%,
    rgba(255, 0, 124, 1) 100%
);
$standard-color: #2e3136;

#title-background {
    position: relative;

    width: 100%;
    height: 100vh;

    background-image: $standard-gradient;
}

#inline-card {
    position: relative;

    width: 80%;
    height: 80%;

    top: 12.5%;

    margin: auto;

    background-color: $standard-color;
}

#page-content {
    $margin-size: 15%;

    margin-top: -20px;

    margin-left: $margin-size;
    margin-right: $margin-size;
}

#purple-gradient {
    width: 100%;
    height: 10px;

    margin-bottom: 50px;

    background-color: #663dff;
    background-image: $standard-gradient;
}

.gdc-artist-img {
    margin-top: 175px;
}

.description-image {
    position: relative;

    width: 200px;
    height: 200px;

    &--right {
        @extend .description-image;
        float: right;
    }

    &--left {
        @extend .description-image;
        float: left;
    }
}

.title-text {
    position: relative;

    font-family: $standard-font;
    font-size: 72px;
    text-align: center;

    font-weight: 600;

    color: white;

    &--white {
        @extend .title-text;
        color: white;
    }
}

.subtitle-text {
    position: relative;

    font-family: $standard-font;
    font-size: 40px;
    text-align: center;

    font-weight: 600;

    color: white;

    &--white {
        @extend .subtitle-text;

        color: white;
    }
}

.info-text {
    position: relative;

    font-family: $standard-font;
    font-size: 22px;

    margin-top: 200px;
    margin-bottom: 50px;

    max-width: $text-block-size;

    margin-bottom: 100px;

    &--left {
        @extend .info-text;

        margin-right: auto;
        text-align: left;
    }

    &--right {
        @extend .info-text;

        margin-left: auto;
        text-align: right;
    }
}

.text {
    position: relative;

    font-family: $standard-font;
    font-size: 22px;

    margin: 5px;
}

.pop-text {
    position: relative;

    background: $standard-gradient;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.information-section-header {
    font-size: 64px;
    text-align: center;

    margin-top: 75px;
}

.paragraph-button {
    position: relative;

    font-family: $standard-font;

    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    text-align: center;

    border: solid 1px black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 32px;

    $transition-time: 0.2s;

    -webkit-transition: background-color $transition-time,
        color $transition-time, width $transition-time,
        border-width $transition-time, border-color $transition-time;
    transition: background-color $transition-time, color $transition-time,
        width $transition-time, border-width $transition-time,
        border-color $transition-time;

    &--left {
        @extend .paragraph-button;

        float: left;
        transform: translate(55%, 0);
    }

    &--right {
        @extend .paragraph-button;

        float: right;
        transform: translate(-50%, 0);
    }
}

.paragraph-button:hover {
    background-color: black;
    color: white;
}

.paragraph-button:focus {
    outline: none;
}
