$margin-size: 100px;
$tile-color-a: #1d1d1f;
$tile-color-b: #171718;

#title-background {
    position: relative;

    width: 100%;
    height: 100vh;

    $darken-amount: 0.5;

    background-image: linear-gradient(
            rgba(0, 0, 0, $darken-amount),
            rgba(0, 0, 0, $darken-amount)
        ),
        url('../images/concept_art.png');
    background-size: cover;

    margin: 0px;

    background-color: $standard-color;
}

#pre-footer {
    position: relative;
    width: 100%;

    background-color: $tile-color-b;
}

.page-content {
    position: relative;
    background-color: $tile-color-a;

    width: 100%;
    margin: 0px;
}

.horizontal-bar {
    width: 70ch;
    height: 2px;

    margin-top: 20px;

    background-image: $standard-gradient;

    &--left {
        @extend .horizontal-bar;

        float: left;
        margin-left: $margin-size;
    }

    &--right {
        @extend .horizontal-bar;

        float: right;
        margin-left: auto;
        margin-right: $margin-size;
    }
}

.description-image {
    position: relative;

    width: 200px;
    height: 200px;

    &--right {
        @extend .description-image;
        float: right;
    }

    &--left {
        @extend .description-image;
        float: left;
    }
}

.title-text {
    position: relative;

    font-family: $standard-font;
    font-size: 72px;
    text-align: center;

    color: white;

    &--black {
        @extend .title-text;
        color: white;
    }
}

.subtitle-text {
    position: relative;

    font-family: $standard-font;
    font-size: 40px;
    text-align: left;

    margin-top: 0px;
    margin-bottom: 0px;

    color: white;

    &--centered {
        @extend .subtitle-text;

        text-align: center;
    }

    &--black {
        @extend .subtitle-text;

        color: black;
    }
}

.text {
    position: relative;

    font-family: $standard-font;
    font-size: 26px;
    text-align: center;

    margin-bottom: 0px;

    max-width: $text-block-size;
    word-wrap: break-word;

    color: white;

    &--left {
        @extend .text;

        text-align: left;
        margin-left: $margin-size;
    }

    &--right {
        @extend .text;

        text-align: right;

        margin-left: auto;
        margin-right: $margin-size;
    }
}

.gradient-text {
    background: $standard-gradient;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.information-section-header {
    position: relative;

    font-family: $standard-font;
    color: white;

    font-size: 42px;
    text-align: center;

    top: 15px;
}

.paragraph-button {
    position: relative;

    font-family: $standard-font;

    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    text-align: center;

    border: solid 1px black;
    background-color: white;
    padding: 10px 30px;
    border-radius: 32px;

    $transition-time: 0.2s;

    -webkit-transition: background-color $transition-time,
        color $transition-time, width $transition-time,
        border-width $transition-time, border-color $transition-time;
    transition: background-color $transition-time, color $transition-time,
        width $transition-time, border-width $transition-time,
        border-color $transition-time;

    &--left {
        @extend .paragraph-button;

        float: left;
        transform: translate(55%, 0);
    }

    &--right {
        @extend .paragraph-button;

        float: right;
        transform: translate(-50%, 0);
    }
}

.paragraph-button:hover {
    background-color: black;
    color: white;
}

.paragraph-button:focus {
    outline: none;
}
