#home-banner {
    display: flexbox;
    align-items: center;

    margin: 50px 0px 50px 0px;
}

#join-reasons-container {
    display: flex;
    justify-content: center;
}

#info-cards {
    width: 100%;

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 20px auto 100px auto;
}

.info-card {
    float: left;

    width: 250px;
    margin: 20px;

    border-radius: 14px;
    padding: 15px;

    img {
        display: block;

        margin-left: auto;
        margin-right: auto;
    }

    &--title {
        font-size: 20px;

        margin: 10px;
    }

    &--text {
        font-size: 16px;
    }
}
