.background-a {
    width: 100%;

    background-color: #111;
    padding: 20px 0px;

    color: white;
}

.background-b {
    width: 100%;

    background-color: #222;
    padding: 20px 0px;

    img {
        filter: contrast(0) brightness(100);
        margin-right: 20px;
    }
}

.text-wrap {
    max-width: 80ch;

    margin: 0px auto;
}

#home-banner {
    display: flexbox;
    align-items: center;
}

#join-reasons-container {
    display: flex;

    margin-bottom: 20px;
    margin-left: 20%;
}

#info-cards-container {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 20px auto 100px auto;
}

.info-card {
    width: 250px;
    margin: 20px;

    border: 1px solid #929292;
    background-color: white;
    border-radius: 6px;
    padding: 20px;

    p {
        margin: 0px;

        color: black;
        text-align: center;
    }

    img {
        display: block;

        margin: 0px auto;
    }
}

@media only screen and (max-width: 1500px) {
    .side-image {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .info-card {
        p,
        h3 {
            text-align: center;
        }
    }
}
