#home-banner {
    width: 100%;
    height: 55vh;

    background-color: #191a1b;

    margin-bottom: 200px;

    color: white;
}

#home-banner-left-panel {
    position: relative;

    left: 10%;

    zoom: 127.5%;

    width: 40%;
    height: 80%;
}

#home-banner-right-panel {
    position: relative;

    top: 25%;

    width: 50%;
    height: 50%;

    margin-left: auto;
}
