.join-gdc-link {
    font-size: '24px';
    font-family: 'Oxygen', monospace;
    text-align: center;
    color: #486ff0;
    margin-top: 100px;
}

.half-page {
    float: left;
    width: 50%;
    height: 80%;
    transform: translate(0%, 25%);
}
