#sidebar {
  background-color: #111111;

  width: 25%;
  height: 100vh;

  float: left;

  overflow-x: hidden;
  overflow-y: auto;
}

#content {
  background-color: #181818;

  width: 75%;
  height: 100vh;

  float: left;

  overflow-x: hidden;
  overflow-y: auto;
}

#welcome-page p {
  text-align: center;
  max-width: 50ch;

  padding: 0px 100px;
  margin: 35px auto;
}

#group-title {
  text-align: left;

  margin-top: 20px;
  font-weight: 400;

  cursor: pointer;
}

#resource {
  font-size: 14px;
  margin-left: 140px;

  color: white;
  cursor: pointer;

  font-weight: 400;
}

#resource-title {
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;

  color: white;

  margin: 35px 35px;
}
