#sidebar {
  background-color: #111111;

  width: 25%;
  height: 100vh;

  float: left;

  overflow: auto;
}

#content {
  position: relative;

  background-color: #181818;

  width: 75%;
  height: 100vh;

  float: left;

  overflow: auto;
}

#welcome-page {
  p {
    text-align: center;
  }
}

#group-title {
  text-align: left;

  margin-top: 20px;
  cursor: pointer;

  font-weight: 400;
}

#resource {
  font-size: 14px;
  margin-left: 110px;
  max-width: unset;

  color: white;
  cursor: pointer;

  font-weight: 400;
}

#resource-title {
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;

  color: white;

  margin: 35px 35px;
}
