#todo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0px auto;

  max-width: 1040px;
}

#end {
  background-color: #111111;
  height: 100vh;
}

.todo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;

  background-color: #111111;

  border: 3px solid rgb(36, 36, 36);
  border-radius: 8px;

  margin: 20px 20px;

  transition: 0.5s border cubic-bezier(0.075, 0.82, 0.165, 1),
    0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1);

  $scale: 1;

  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);

  cursor: pointer;
}

.todo-card div {
  margin: 35px;
}

.todo-card h1 {
  font-size: 22px;
}

.todo-card p,
h1 {
  margin: 20px 30px;
}

.todo-card:hover {
  border: 3px solid rgb(241, 223, 121);

  $scale: 1.05;

  transform: scale($scale);
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}

#dropdown-filter {
  display: inline-block;

  width: 250px;
  height: 50px;

  border: 3px solid white;
  border: 3px solid rgb(36, 36, 36);
  background-color: #111111;
  border-radius: 8px;

  margin: 30px auto;

  transition: 0.5s border cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

#dropdown-filter p {
  margin: unset;
}

#dropdown-filter-content {
  position: absolute;
  display: table-cell;

  z-index: 1;
}

#dropdown-filter:hover {
  border: 3px solid white;
}
