@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&family=Neucha&family=Syne&display=swap&family=Source+Code+Pro:wght@600&display=swap&family=Bebas+Neue&display=swap&family=Oxygen:wght@400&display=swap&family=Poppins:wght@600&display=swap&family=Poppins:wght@400&display=swap&family=Fredericka+the+Great&display=swap");
#title-background {
  position: relative;
  width: 100%;
  height: 100vh;
}

#page-content {
  margin-top: -20px;
  margin-left: 15%;
  margin-right: 15%;
}

.join-now {
  text-align: center;
}

.image, .image--right, .image--left {
  position: relative;
  width: 200px;
  height: 200px;
}

.image--right {
  float: right;
}

.image--left {
  float: left;
}

.text-section {
  position: relative;
}

.info-text, .info-text--left, .info-text--right {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  margin-top: 200px;
  margin-bottom: 50px;
  max-width: 30ch;
  margin-bottom: 100px;
}

.info-text--left {
  margin-right: auto;
  text-align: left;
}

.info-text--right {
  margin-left: auto;
  text-align: right;
}

.title-text, .title-text--white {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 72px;
  text-align: center;
  font-weight: 600;
  color: black;
}

.title-text--white {
  color: white;
}

.subtitle-text {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  color: black;
}

.text, .description {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  margin: 5px;
}

.gdc-artist-img {
  margin-top: 175px;
}

.pop-text {
  color: #486ff0;
}

.button, .button--left, .button--right {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  border: solid 1px black;
  background-color: white;
  padding: 10px 30px;
  border-radius: 32px;
  -webkit-transition: background-color 0.2s, color 0.2s, width 0.2s, border-width 0.2s, border-color 0.2s;
  transition: background-color 0.2s, color 0.2s, width 0.2s, border-width 0.2s, border-color 0.2s;
}

.button--left {
  float: left;
  -webkit-transform: translate(55%, 0);
          transform: translate(55%, 0);
}

.button--right {
  float: right;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.button:hover, .button--left:hover, .button--right:hover {
  background-color: black;
  color: white;
}

.button:focus, .button--left:focus, .button--right:focus {
  outline: none;
}

#header-bar {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 1;
}

.footer {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(45deg, #ffa9a9 20%, #ffe81c);
}

.gdc-logo {
  position: relative;
  top: 20px;
  left: 30px;
  z-index: 1;
  float: right;
  font-family: 'Fredericka The Great', cursive;
  font-size: 24px;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  padding: 10px 30px;
}

.header-button {
  position: relative;
  top: 20px;
  right: 30px;
  z-index: 1;
  float: right;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 10px 30px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header-button-join-now, .header-button-join-now--large {
  position: relative;
  top: 20px;
  right: 30px;
  z-index: 1;
  float: right;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  border: solid 1px black;
  background-color: white;
  padding: 10px 30px;
  border-radius: 32px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition: background-color 0.2s, color 0.2s, width 0.2s, border-width 0.2s, border-color 0.2s;
  transition: background-color 0.2s, color 0.2s, width 0.2s, border-width 0.2s, border-color 0.2s;
}

.header-button-join-now--large {
  font-size: 28px;
  padding: 20px 60px;
  float: left;
  border-radius: 0px;
  margin-bottom: 100px;
}

.header-button-join-now:hover, .header-button-join-now--large:hover {
  background-color: black;
  color: white;
}

.header-button:hover {
  color: #7a7a7a;
}

.header-button:focus {
  outline: none;
}

#our-games {
  margin-left: 2%;
}

#our-games-header {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  background-image: linear-gradient(45deg, #44d3c7 25%, #16f7a0);
}

.description {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 40ch;
}

.line {
  position: relative;
  width: 98%;
  height: 2px;
  background-color: black;
}

.build {
  position: relative;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  color: black;
}

.build-title {
  position: relative;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  text-align: left;
  color: black;
}

.card {
  position: relative;
  margin-top: 20px;
  margin-right: 30px;
  width: 300px;
  height: 300px;
  float: left;
}

.corner-box {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: black;
}

.search-bar {
  position: relative;
  margin-top: 20px;
  width: 35%;
}

.search-bar input[type='text'] {
  width: 100%;
  padding: 16px;
  padding-right: 60px;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  outline: none;
}

.fa-search {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 25px;
  color: #ffffff;
  font-size: 25px;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

::-moz-placeholder {
  color: #ffffff;
}

:-ms-input-placeholder {
  color: #ffffff;
}

@media screen and (max-width: 425px) {
  .search_box {
    width: 95%;
  }
}

.fade-in {
  -webkit-animation: opacity 1.5s;
          animation: opacity 1.5s;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide {
  position: absolute;
  left: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.half-width-box {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.horizontal-center {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.horizontal-text-center {
  text-align: center;
}

.box-shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*# sourceMappingURL=App.css.map */