@import './home';

@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@400&display=swap');

$font-family: 'Sulphur Point', sans-serif;

html,
body,
p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.box-shadow {
    $intensity: 0.4;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, $intensity),
        0 6px 20px 0 rgba(0, 0, 0, $intensity - 0.1);
}

.vertical-center {
    position: relative;
    top: 50%;

    transform: translateY(-50%);
}

.center-text {
    text-align: center;
}

.title {
    font-family: $font-family;
    font-size: 36px;

    font-weight: 400;

    color: inherit;
}

.subtitle {
    font-family: $font-family;
    font-size: 22px;

    color: inherit;
}

.text {
    font-family: $font-family;
    font-size: 18px;

    color: inherit;
}
