@import './home';
@import './resources';
@import './form';
@import './todo';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body {
  margin: 0px;
}

p {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 24px;
  line-height: 1cm;

  color: white;
}

h1,
h2,
h2,
h3 {
  font-family: 'Inter', sans-serif;
}

h1,
h3 {
  @extend .gradient-text;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 42px;

  max-width: 15ch;
  color: white;
}

h3 {
  font-weight: 600;

  font-size: 46px;
}

ul {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 0.8cm;

  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;

  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('../svgs/check-mark-line.svg');
  background-size: 25px;

  margin-right: 50px;
  color: white;
  padding: 30px 0px 25px 50px;
}

.gradient-text {
  background: linear-gradient(145deg, rgb(255, 159, 34), #c1b);
  -webkit-text-fill-color: transparent;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  background-clip: text;
  -webkit-background-clip: text;
}

.background-a {
  width: 100%;

  background-color: #111111;
  padding: 20px 0px;

  color: white;
}

.background-b {
  width: 100%;

  background-color: #181818;
  padding: 20px 0px;
}

.background-b img {
  margin-right: 20px;

  filter: contrast(0) brightness(100);
}

.text-wrap {
  max-width: 80ch;

  margin: 0px auto;
}
